.contentContainer {
  width: 100%;
  height: 100vh;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 40px 0;
}

.contentContainer header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentContainer header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--font-color);
  font-weight: 500;
}

.contentContainer header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.contentContainer header > a {
  font-size: 5.6rem;
  font-weight: 700;
  color: #fffa4d;
  line-height: 100%;
  text-align: center;
}

.contentContainer header p {
  font-size: 1.15rem;
  color: var(--font-color);
  margin-bottom: 20px;
  text-align: center;
}

.contentContainer header p a,
.contentContainer header p strong {
  color: #fffda7;
  font-weight: 500;
}

.contentContainer header p:nth-child(2) {
  max-width: 900px;
  width: 60vw;
  min-width: 545px;
  text-align: center;
}

.contentContainer header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--input-background);

  padding: 21px 15px;
  border-radius: 6px;
  width: 80%;
}

.contentContainer header div input {
  height: 100%;
  flex: 1;
  color: var(--font-color-secondary);
  font-size: 0.9rem;
  background: transparent;
  margin-left: 10px;
  border: 0;
  outline: 0;

  &::placeholder {
    color: var(--font-color-secondary);
  }
}

.contentContainer header div svg {
  color: var(--font-color);
  font-size: 1.4rem;
  margin-right: 8px;

  transition: all 0.3s;
  cursor: pointer;
}

.contentContainer header div svg:hover {
  opacity: 0.8;
}

.contentContainer > section {
  margin-top: 30px;
  max-height: 55vh;
  padding-right: 15px;
}

.contentContainer section > h5 {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 500;
}

.contentContainer section ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.contentContainer section ul li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  background-color: var(--input-background);
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.1s;

  flex-grow: 1;
  max-width: 300px;

  a {
    padding: 12px 25px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
  }

  &:hover {
    background: #fffa4d;
    color: var(--background);
  }
}

.contentContainer footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
}

.contentContainer footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* customize scrollbar css */
.contentScroll::-webkit-scrollbar {
  width: 20px;
  background: var(--input-background);
}
.contentScroll::-webkit-scrollbar:horizontal {
  background: var(--input-background);
}
.contentScroll::-webkit-scrollbar-track {
  border-left: 12px solid var(--background);
}
.contentScroll::-webkit-scrollbar-thumb {
  background-color: #575757;
  border-left: 12px solid var(--background);
}
.contentScroll::-webkit-scrollbar-thumb:hover {
  background-color: #575757;
}
.contentScroll::-webkit-scrollbar-thumb:active {
  background-color: #575757;
}
